/* directory business view */

.business-cards, #grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4rem;    
    justify-items: center;
}

.grid-card {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.list-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 1rem;
    background-color: var(--color-background);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: none;
}


img {
    justify-self: center;
    box-shadow: 8px 8px 10px var(--accent3-color);
    margin: 7px;
}

.business-cards {
    border: var(--accent3-color) 3px solid;
    box-shadow: 8px 8px 8px  var(--nav-background-color);
}

.business-cards a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #426864;
  text-decoration: none;
  font-weight: bold;
}

.business-cards a:hover{
    text-decoration: underline;
}

.business-view {
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: var(--color-primary);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#grid-view, #list-view{
    margin: 10px;
    box-shadow: 1px 1px 1px var(--color-border);
    background-color: var(--accent3-color);
    cursor: pointer;
}
