/* hero image */
.hero-call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 100%;
}

.hero img{
    margin:0;
    max-width: 100%;
    height: auto;
    box-shadow: 8px 8px 10px var(--nav-background-color);
}

.hero figure{
    margin: 0;
}

.hero-call-to-action figcaption{
    color: var(--color-text);
    text-align: center;
    margin-top: 1rem;
}

.hero-call-to-action a{
  display: inline-block;
  margin-top: 0.5rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.hero-call-to-action a:hover {
  text-decoration: underline;
}

.cta-button {
    padding: 1rem;
    background-color: var(--color-secondary);
    box-shadow: 5px 5px 10px var(--nav-background-color);
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;    
}

/* section styling */
main section {
    padding: 2rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 12px;
}

/* weather */
.weather {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 900px;
    margin: auto;
    background-color:  #2b4d70;
    padding: 2rem;
    border-radius: 12px;
}

.weather h3{
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
    color: white;
}

.current-w {
    grid-column: 1;
    align-content: center
}

.forecast {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.current-w,
.forecast {
  background-color: rgba(255, 255, 255, 0.8); /* White, 80% opaque */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: soft shadow */
}


#three-day-forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  margin-top: 1rem;
}

/* === SPOTLIGHT CONTAINER === */
.spotlight-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--nav-background-color);
}

/* === INDIVIDUAL SPOTLIGHT CARD === */
.spotlight-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  border: 5px solid transparent;
}

.spotlight-card.gold:hover {
  border: 5px solid #ffd900a6;
}

.spotlight-card.silver:hover {
   border: 5px solid  #c0c0c0fd;
}

.spotlight-card h3 {
  color: var(--color-text);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.spotlight-card p {
  margin: 0.5rem 0;
  color: var(--color-text);
}

.spotlight-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 1rem auto;
  border-radius: 8px;
  object-fit: contain;
}

.spotlight-card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #426864;
  text-decoration: none;
  font-weight: bold;
}

.spotlight-card a:hover {
  text-decoration: underline;
}