@media screen and (min-width: 770px) {
  #menu {
    display: none; 
  }

  .mainnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mainnav ul {
    flex-direction: row;
    gap: 2rem;
  }
}