:root {
    --primary-color: #2F3E46;
    --secondary-color: #52796F;
    --accent1-color: #CAD2C5;
    --accent2-color: #354F52;
    --accent3-color:  #84A98C;
    --accent4-color: #84a98c6a;
    --main-font: "Lexend Deca";

    --nav-link-color: white;
    --nav-hover-link-color:#354F52;
    --nav-hover-background-color: rgba(255, 255, 255, 0.597);
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: var(--accent1-color);
}

h1, h2{
    font-family: var(--main-font);
    color:var(--primary-color);
}

header {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ;
    padding: 5px;
    background-color: var(--accent2-color);
    border-bottom: 4px solid var(--primary-color);
}



#profile {
    justify-self: center;
    box-shadow: 5px 5px 5px black;
    margin: 7px;
    width: 100px;
}


#name {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    color: white;
    text-align: center;
    text-shadow: #2F3E46 2px 2px 2px;
}


h1,h2, p {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--accent4-color);
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin: 0;
}

.mainnav a{
    display: none;
    flex-direction: column;
    color: var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.mainnav ul{
	list-style-type: none;
}

.mainnav a:hover, a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    margin: 0 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-boxes{
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 8px var(--primary-color);
    width: 100%;
    margin: 1rem auto;
    background-color: #8e5f3038;
}


#high-uintas {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

#ub {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--primary-color); 
}

#caption{
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
    margin-top: 1rem;
}

#caption a{
    color: var(--primary-color);
}

#certificate{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#courses-container {
    display:flex;
    flex-direction:column;
    row-gap: 10px;
    
}

#courses-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
    list-style-type: none;
    padding: 1rem;
    margin: 2rem 0;
}



#courses-nav a{
    text-decoration: none;
    font-size: 1.75rem;
    color: var(--nav-link-color);
    background-color: var(--accent2-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px var(--primary-color);
}

#courses-nav a.active {
    background-color: var(--nav-link-color);
    color: var(--accent2-color);
    font-weight: bold;
}


.course-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-color: var(--primary-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px var(--primary-color);
  background-color: var(--accent1-color);

}

.completed {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 8px var(--primary-color);
    color:white;
}



footer {
    width: 100%;
    background-color: var(--accent2-color);
    text-align: center;
    font-family: var(--main-font);
    color:var(--accent1-color);
    padding: 5px;
     border-top: 4px solid var(--primary-color);
}

/* Hamburger button */
#menu{
    align-self: center;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight:bold;
    padding: 5px;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

#menu::before{
    content:"≡";
}

.show a{
    display:flex;
    align-items: flex-end;
    width: 100%;;
}

#menu.show::before{
    content:"X";
}