:root {
    --primary-color: #2F3E46;
    --secondary-color: #52796F;
    --accent1-color: #CAD2C5;
    --accent2-color: #354F52;
    --accent3-color:  #84A98C;
    --main-font: "Roboto", sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--primary-color);
}

h1 {
    text-align:center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
}

section{
    padding: 20px;
    background-color: var(--accent1-color);
    border-radius: 10px;
    box-shadow:var(--primary-color) 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;   
}

img {
	width: auto;
	max-width: 300px;
	box-shadow: 0 0 30px var(--primary-color);
	height: 300px;
	border: 1px solid var(--accent2-color);
    margin-top: 2.5rem;
}

h2 {
    color: var(--secondary-color);
    text-align: center;
    margin: 3px;
}

p {
    color: var(--accent2-color);
    text-align: center;
    margin: 3px;
}


footer{
    text-align: center;
    padding: 20px;
}